@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap'); /*font-family: 'Raleway', sans-serif;*/
html,body
{
    height:100%;
    width:100%;
    overflow: clip;
    font-family: 'Lato', sans-serif;
    font-weight: lighter;
}

#FFBlack
{
    position: fixed;
    height:100%;
    left:0;
    top:0;
    width:100%;
    background-color: black;
    z-index: 5;
    pointer-events: none;
    animation: FFB forwards 1s;
}

@keyframes FFB {
    0%
    {
        opacity: 1;
    }
    100%
    {
        opacity:0;
    }
}